body {
  background-image: url(http://eskipaper.com/images/black-abstract-3.jpg);
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
#title {
  font-size: 60px;
  font-style: italic;
  font-family: cursive;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  padding-top: 70px;
}
.top {
  font-size: 60px;
  font-family: cursive;
  text-align: center;
  color: white;
  text-shadow: 2px 2px yellow;
}
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
ul.topnav li {
  float: left;
  border-right: 2px solid yellow;
}
ul.topnav li a {
    display: block;
    color: #f2f2f2;
    padding: 16px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: cursive;
  }
ul.topnav li a:hover {
    background-color: #111;
  }
.active {
  background-color: gray;
}
#line1 {
  border-top: 6px double yellow;
}
#title2 {
  font-size: 30px;
  font-style: normal;
  font-family: fantasy;;
  text-align: left;
  color: white;
}
#desp {
  font-size: 20px;
  font-style: normal;
  font-family: Ariel;
  text-align: left;
  color: white;
  padding-bottom: 30px;
}
.caption {
  font-size: 18px;
  font-style: normal;
  font-family: Ariel;
  text-color: red;
  background-color: black;
  text-align: center;
}
p {
  font-family: Helvetica;
  font-weight: 600;
  color: white;
}
.row {
  padding: inherit;
}
@media screen and (max-width: 600px){
    ul.topnav li {
        text-align: center;
        float: none;
      }
    #title {
      padding-top: 180px;
    }
  }
