body  {
  background-image: url(http://eskipaper.com/images/black-abstract-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float: right;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.img1 {
  padding-left: 480px;
  padding-top: 40px;
  width: 60%;
  height: 60%;
}
span {
    float: left;
    width: 0.9em;
    font-size: 300%;
    font-family: cursive;
    line-height: 70%;
  }
.row {
  float:left;
  padding-right: 30px;
}
.col-lg-12 {
  color: white;
  font-size: 18px;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
}
.top {
  font-size: 60px;
  font-family: cursive;
  text-align: center;
  color: white;
  text-shadow: 2px 2px yellow;
}
/*nav bar*/
.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
ul.topnav li {
  float: left;
  border-right: 2px solid yellow;
}
ul.topnav li a {
    display: block;
    color: #f2f2f2;
    padding: 16px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
    font-family: cursive;
  }
ul.topnav li a:hover {
    background-color: #111;
  }
.active {
  background-color: gray;
}
/*end nav bar*/
img {
  padding-left: 50px;
  padding-top: 30px;
  width: 440px;
  height: 440px;
}
#line1 {
    border-top: 6px double yellow;
    align: center;
  }
.col-md-6  {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 40px;
    float: left;
}
/*media query to stack nav menu on smaller screen*/
@media screen and (max-width: 600px){
    ul.topnav li {
        text-align: center;
        float: none;
      }
    .top {
      padding-top: 160px;
    }
}
